<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pothole Detection AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<h1>Pothole Detection AI</h1>

<p>Welcome to the AI Road Inspection System.</p>

<hr>

<ul>
    <li><a href="/image">📷 Image Detection</a></li>
    <li><a href="/video">🎥 Video Detection</a></li>
    <li><a href="/live">📹 Live Detection</a></li>
    <li><a href="/about">ℹ About</a></li>
</ul>

</body>
</html>